<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--是否编译字体。=> | true | false |-->
    <add key="CompileFonts" value="false" />
    <!--材质是否单独编译，还是与模型一同包含。=> | true | false |-->
    <add key="CompileMaterialsSeperate" value="false" />
    <!--是否编译纹理。=> | true | false |-->
    <add key="CompileTextures" value="true" />
    <!--编译纹理时是否忽略png文件。=> | true | false |-->
    <add key="IgnorePng" value="true" />
    <!--目标配置文件选项（若编译ps3.0，请设为HiDef）=> | HiDef | Reach |-->
    <add key="TargetProfile" value="HiDef" />
    <!--压缩输出选项。=> | true | false |-->
    <add key="CompressOutput" value="false" />
    

    <!--输入文件夹的完整路径。默认 => | default |-->
    <add key="InputDirectory" value="default" />
    <!--中间文件夹的完整路径。默认 => | default |-->
    <!--注意：此项不重要。-->
    <add key="IntermediateDirectory" value="default" />
    <!--输出文件夹的完整路径。默认 => | default |-->
    <add key="OutputDirectory" value="default" />


    <!--如果xnb文件已存在，是否重新构建文件。=> | true | false |-->
    <!--警告：如果禁用此项，即使xnb已过期，内容也不会重新构建-->
    <add key="RebuildAll" value="true" />
    <!--编译完成后是否立即关闭，跳过计时器。=> | true | false |-->
    <add key="CloseImmediately" value="false" />
    <!--发生错误时是否等待输入，如果CloseImmediately为true，程序将在出错时立即关闭，否则启动正常计时器。=> | true | false |-->
    <add key="WaitForInputOnError" value="true" />
    <!--编译模型的缩放乘数。默认 => | 1f |-->
    <add key="ModelScale" value="1.0" />
    <!--是否交换编译模型的顶点环绕顺序。默认 => | false |-->
    <add key="ModelSwapWindingOrder" value="false" />
    <!--是否为编译的模型生成切线。默认 => | false |-->
    <!--注意：会增加文件大小，但法线/凹凸贴图需要此项。-->
    <add key="ModelGenerateTangentFrames" value="false" />
    <!--输出是否为着色器字节码（.fxc文件），而非编译进xnb。默认 => | false |-->
    <add key="OutputEffectBytecode" value="false" />
    <!--输出文件类型的扩展名，某些类型的默认值为xnc，因为泰拉瑞亚（Terraria）阻止加载大多数.xnb文件-->
    <!--注意：包含句点-->
    <add key="EffectExtension" value=".xnb" />
    <add key="FontExtension" value=".xnb" />
    <add key="TextureExtension" value=".xnb" />
    <add key="ModelExtension" value=".xnb" />
    <add key="MaterialExtension" value=".xnb" />
  </appSettings>
</configuration>